<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Keyboard - Order Page</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/KEYBOARD3.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

    <div class="main-wrapper">
        <div th:replace="~{commons/commons::navbar2}"></div>
        <div class="checkout-main-area pt-120 pb-120">
            <div class="container">

                <div class="checkout-wrap pt-30">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="your-order-area">
                                <h3>Your order</h3>
                                <div class="your-order-wrap gray-bg-4">
                                    <div class="your-order-info-wrap">
                                        <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Num</th>
                                            <th>Cost</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="bag:${orderBagList}">
                                            <td>
                                                <span th:text="${bag.getIname()}"></span>
                                            </td>
                                            <td>
                                                <span th:text="'X ' + ${bag.getNum()}"></span>
                                            </td>
                                            <td>
                                                <span th:text="'$' + ${bag.getNum() * bag.getPrice()}"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Discount</td>
                                            <td></td>
                                            <td>-$20.00</td>
                                        </tr>
                                        <tr>
                                            <td>Shipping</td><td></td>
                                            <td>$20.00</td>
                                        </tr>
                                        <tr>
                                            <td>Total</td><td></td>
                                            <td><span th:text="'$' + ${sum}"></span></td>
                                        </tr>

                                        </tbody>
                                        </table>

                                    </div>
                                    <div class="payment-method">
                                        <div class="pay-top sin-payment">
                                            <input id="payment_method_1" class="input-radio" type="radio" value="cheque" checked="checked" name="payment_method">
                                            <label for="payment_method_1"> Direct Bank Transfer </label>
                                            <div class="payment-box payment_method_bacs">
                                                <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference.</p>
                                            </div>
                                        </div>
                                        <div class="pay-top sin-payment">
                                            <input id="payment-method-2" class="input-radio" type="radio" value="cheque" name="payment_method">
                                            <label for="payment-method-2">Check payments</label>
                                            <div class="payment-box payment_method_bacs">
                                                <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference.</p>
                                            </div>
                                        </div>
                                        <div class="pay-top sin-payment">
                                            <input id="payment-method-3" class="input-radio" type="radio" value="cheque" name="payment_method">
                                            <label for="payment-method-3">Cash on delivery </label>
                                            <div class="payment-box payment_method_bacs">
                                                <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference.</p>
                                            </div>
                                        </div>
                                        <div class="pay-top sin-payment sin-payment-3">
                                            <input id="payment-method-4" class="input-radio" type="radio" value="cheque" name="payment_method">
                                            <label for="payment-method-4">PayPal <img alt="" src="assets/images/icon-img/payment.png"><a href="#">What is PayPal?</a></label>
                                            <div class="payment-box payment_method_bacs">
                                                <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Place-order">
                                    <a th:onclick="confirmOrder([[${sendList}]])">Place Order</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">


                            <div class="billing-info-wrap mr-50">
                                <br/>
                                <h3>Billing Details</h3>
                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-outline-dark dropdown-toggle">Select Express</button>
                                            <ul class="dropdown-menu" contenteditable="true">
                                                <li class="btn-outline-dark" th:each="express:${expressList}">
                                                    <a th:text="'Express No.' + ${express.getIdExpress()}" th:onclick="showExpress(	[[${express.getIdExpress()}]],
                                                                                                                        [[${express.getCountry()}]],
                                                                                                                        [[${express.getCity()}]],
                                                                                                                        [[${express.getAddress()}]],
                                                                                                                        [[${express.getFirstname()}]],
                                                                                                                        [[${express.getLastname()}]],
                                                                                                                        [[${express.getPhone()}]])"></a>

                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 pt-25">
                                        <div class="billing-info mb-20">
                                            <label>Country</label><input type="text" readonly="readonly" th:id="country"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 pt-25">
                                        <div class="billing-info mb-20">
                                            <label>City</label><input type="text" readonly="readonly" th:id="city"/>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6">
                                        <div class="billing-info mb-20">
                                            <label>First Name</label><input type="text" readonly="readonly" th:id="firstname"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="billing-info mb-20">
                                            <label>Last Name</label><input type="text" readonly="readonly" th:id="lastname"/>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6">
                                        <div class="billing-info mb-20">
                                            <label>Address</label><input type="text" readonly="readonly" th:id="address"/>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="billing-info mb-20">
                                            <label>Phone</label><input type="text" readonly="readonly" th:id="phone"/>
                                        </div>
                                    </div>

                                </div>
                                <div class="additional-info-wrap">
                                    <label>Order notes</label>
                                    <textarea placeholder="Notes about your order, e.g. special notes for delivery. " name="message"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{commons/commons::footer}"></div>
    </div>

    <!-- All JS is here
============================================ -->

    <script type="text/javascript" th:inline="javascript">

        var currentExpress = 0;

        function showExpress(idExpress,country,city,address,firstname,lastname,phone) {
            console.log(idExpress);
            currentExpress = idExpress;
            $(document.getElementById("country")).attr("placeholder",country);
            $(document.getElementById("city")).attr("placeholder",city);
            $(document.getElementById("address")).attr("placeholder",address);
            $(document.getElementById("firstname")).attr("placeholder",firstname);
            $(document.getElementById("lastname")).attr("placeholder",lastname);
            $(document.getElementById("phone")).attr("placeholder",phone);
        }

        function confirmOrder(sendList) {
            if(currentExpress === 0){
                alert("Please select one express address first.");
                return;
            }else {
                window.location.href="/orderconfirm?sendList=" + sendList + "&idExpress=" + currentExpress;
            }
        }
    </script>

    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/jquery.instagramfeed.min.js"></script>
    <script src="assets/js/plugins/jquery.nice-select.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui-touch-punch.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/sticky-sidebar.js"></script>
    <script src="assets/js/plugins/easyzoom.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/ajax-mail.js"></script>

    <!-- Use the minified version files listed below for better performance and remove the files listed above  
<script src="assets/js/vendor/vendor.min.js"></script>
<script src="assets/js/plugins/plugins.min.js"></script>  -->
    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

</body>

</html>